# init

## import package

In [1]:
import os
import time
from subprocess import  call
import numpy as np
import pandas as pd
import seaborn as sns
from scipy import stats
import seaborn as sns
import matplotlib.pyplot as plt
import scipy as sc
from matplotlib.colors import ListedColormap
import scipy.sparse as sparse
import importlib
import copy
import gc
import datetime
from scipy.stats import zscore
import sys
import scipy.stats as st
import math
from scipy import optimize
from tqdm.notebook import tqdm
from scipy.spatial.distance import pdist, squareform
import scanpy as sc

## import function

In [2]:
src_dir=r"/Path/to/ImputeHiFI/src"
sys.path.append(src_dir)
from function_basic import basic_function as basic

v5 similar FISH

## path

Data are downloaded from supplementary of 21 Nature Integrated spatial genomics reveals global architecture of single nuclei (https://doi.org/10.1038/s41586-020-03126-2)

In [132]:
data_dir=r"/mnt/disk1/scfan/data/Cai_21_Nature"
DNA_seqFISH_dir=r"/mnt/disk1/scfan/data/Cai_21_Nature/DNAseqFISH+"
RNA_seqFISH_dir=r"/mnt/disk1/scfan/data/Cai_21_Nature/RNAseqFISH"
output_dir=r"/mnt/disk1/scfan/data/Cai_21_Nature/DNA_25kb"

# generate data_pkl

## DNA_25kb

### data info

In [4]:
input_data_file = r"41586_2020_3126_MOESM2_ESM_modify_for_ImputeHiFI.xlsx"
xls = pd.ExcelFile(os.path.join(data_dir, input_data_file))
DNA_probe_25kb_df = pd.read_excel(xls, '25-kb resolution')

In [33]:
DNA_probe_25kb_df

      regionID            geneID  Channel Chrom      Start        End  chromID
0            1   chr1-HighRes-#1        3  chr1  135600000  135625000        1
1            2   chr1-HighRes-#2        3  chr1  135625000  135650000        1
2            3   chr1-HighRes-#3        3  chr1  135650000  135675000        1
3            4   chr1-HighRes-#4        3  chr1  135675000  135700000        1
4            5   chr1-HighRes-#5        3  chr1  135700000  135725000        1
...        ...               ...      ...   ...        ...        ...      ...
1195      1196  chrX-HighRes-#56        3  chrX   76900457   76925457       20
1196      1197  chrX-HighRes-#57        3  chrX   76925457   76950457       20
1197      1198  chrX-HighRes-#58        3  chrX   76950457   76975457       20
1198      1199  chrX-HighRes-#59        3  chrX   76975457   77000457       20
1199      1200  chrX-HighRes-#60        3  chrX   77000457   77025457       20

[1200 rows x 7 columns]

In [6]:
start_position, end_position, mid_position, mid_position_Mb, chrom_name, gene_ID, chrom_region_name = basic.get_position(
        DNA_probe_25kb_df)

### data zxy

In [13]:
data_path = os.path.join(DNA_seqFISH_dir, "DNAseqFISH+{}loci-E14-replicate{}.csv")
resol='25kb'
rep1_data = pd.read_csv(data_path.format(resol, 1))
rep1_data["cell_type"] = 'rep1'
rep2_data = pd.read_csv(data_path.format(resol, 2))
rep2_data["cell_type"] = 'rep2'

data_path = os.path.join(DNA_seqFISH_dir, "DNAseqFISH+{}loci-E14-clonal{}hr.csv")
clone_24_data = pd.read_csv(data_path.format(resol, 24))
clone_24_data["cell_type"] = '24hr'
clone_48_data = pd.read_csv(data_path.format(resol, 48))
clone_48_data["cell_type"] = '48hr'

DNA_pos_data = pd.concat([rep1_data, rep2_data,clone_24_data,clone_48_data], ignore_index=True, sort=False)
DNA_pos_data = DNA_pos_data[(DNA_pos_data["labelID"]==0)|(DNA_pos_data["labelID"]==1)]

In [128]:
np.unique(DNA_pos_data['channel'])

array([3])

In [15]:
DNA_pos_data['cell_name']=DNA_pos_data['fov'].astype(str)+'_'+DNA_pos_data['channel'].astype(str)+'_'+DNA_pos_data['cellID'].astype(str)+'_'+DNA_pos_data['cell_type'].astype(str)

In [28]:
temp_df=DNA_pos_data.copy()
unique_cells = temp_df.drop_duplicates(subset='cell_name', keep='first')

unique_cells=unique_cells[['cell_name','cell_type']]

unique_cells.reset_index(inplace=True,drop=True)

unique_cells['cell_index']=list(unique_cells.index)

unique_cells

        cell_name cell_type  cell_index
0      0_3_1_rep1      rep1           0
1      0_3_2_rep1      rep1           1
2      0_3_3_rep1      rep1           2
3      0_3_4_rep1      rep1           3
4      0_3_5_rep1      rep1           4
...           ...       ...         ...
1155  7_3_75_48hr      48hr        1155
1156  7_3_76_48hr      48hr        1156
1157  7_3_77_48hr      48hr        1157
1158  7_3_78_48hr      48hr        1158
1159  7_3_79_48hr      48hr        1159

[1160 rows x 3 columns]

In [43]:
cell_name_array=unique_cells['cell_name'].values

In [41]:
DNA_pos_data['regionID']=DNA_pos_data['regionID (hyb1-60)']
zxys_df=DNA_pos_data[['chromID','labelID','regionID','cell_type','cell_name','z','x','y']]

In [42]:
zxys_df

,chromID,labelID,regionID,cell_type,cell_name,z,x,y
0,1,0,2,rep1,0_3_1_rep1,11.282036,1718.431196,146.909289
1,1,0,3,rep1,0_3_1_rep1,11.083011,1717.986519,146.171951
2,1,1,3,rep1,0_3_1_rep1,11.725510,1604.490932,204.195855
3,1,0,5,rep1,0_3_1_rep1,10.363083,1718.106776,146.904642
4,1,1,5,rep1,0_3_1_rep1,13.133202,1600.751787,204.916308
...,...,...,...,...,...,...,...,...
1774862,20,0,56,48hr,7_3_79_48hr,19.354223,874.128476,498.388543
1774863,20,0,57,48hr,7_3_79_48hr,19.940340,876.715558,498.911722
1774864,20,0,58,48hr,7_3_79_48hr,19.780111,874.103783,497.038769
1774865,20,0,59,48hr,7_3_79_48hr,19.748485,873.993993,498.911349
1774866,20,0,60,48hr,7_3_79_48hr,20.416666,876.927256,497.496040

In [47]:
template_dfs = {}

# 为每个chromID生成一个DataFrame
for chromID in range(1, 21):  # chromID从1到20
    # 从原始DataFrame中选出对应chromID的regionID
    regions = np.arange(1,61)
    
    # 创建新的DataFrame
    template_df_0 = pd.DataFrame({
        'chromID': chromID,
        'regionID': regions,
        'labelID':0,
        'x': np.nan,
        'y': np.nan,
        'z': np.nan
    })
    template_df_0.index=template_df_0['chromID'].astype(str)+'_'+template_df_0['regionID'].astype(str)+'_'+template_df_0['labelID'].astype(str)
    template_df_1 = pd.DataFrame({
        'chromID': chromID,
        'regionID': regions,
        'labelID':1,
        'x': np.nan,
        'y': np.nan,
        'z': np.nan
    })
    template_df_1.index=template_df_1['chromID'].astype(str)+'_'+template_df_1['regionID'].astype(str)+'_'+template_df_1['labelID'].astype(str)
    # 将新的DataFrame存储到字典中
    template_dfs[chromID]=[template_df_0,template_df_1]

In [83]:
zxys_df['chromID_regionID_labelID']=zxys_df['chromID'].astype(str)+'_'+zxys_df['regionID'].astype(str)+'_'+zxys_df['labelID'].astype(str)
zxys_df['chromID']=zxys_df['chromID'].astype(int)
zxys_df['labelID']=zxys_df['labelID'].astype(int)

In [84]:
zxys_df

,chromID,labelID,regionID,cell_type,cell_name,z,x,y,chromID_regionID_labelID
0,1,0,2,rep1,0_3_1_rep1,11.282036,1718.431196,146.909289,1_2_0
1,1,0,3,rep1,0_3_1_rep1,11.083011,1717.986519,146.171951,1_3_0
2,1,1,3,rep1,0_3_1_rep1,11.725510,1604.490932,204.195855,1_3_1
3,1,0,5,rep1,0_3_1_rep1,10.363083,1718.106776,146.904642,1_5_0
4,1,1,5,rep1,0_3_1_rep1,13.133202,1600.751787,204.916308,1_5_1
...,...,...,...,...,...,...,...,...,...
1774862,20,0,56,48hr,7_3_79_48hr,19.354223,874.128476,498.388543,20_56_0
1774863,20,0,57,48hr,7_3_79_48hr,19.940340,876.715558,498.911722,20_57_0
1774864,20,0,58,48hr,7_3_79_48hr,19.780111,874.103783,497.038769,20_58_0
1774865,20,0,59,48hr,7_3_79_48hr,19.748485,873.993993,498.911349,20_59_0
1774866,20,0,60,48hr,7_3_79_48hr,20.416666,876.927256,497.496040,20_60_0

In [99]:
one_cell_name='0_3_1_rep1'
all_cell_dna_list=[]
for one_cell_name in tqdm(cell_name_array):
    temp_one_cell_df=zxys_df[zxys_df['cell_name']==one_cell_name]
    temp_one_cell_df.index=temp_one_cell_df['chromID_regionID_labelID']
    one_cell_list=[]
    one_cell_dna_dfs=copy.deepcopy(template_dfs)
    for chromID in range(1, 21):
        one_chrom_list=[]
        for labelID in [0,1]:
            one_chromID_temp_df=temp_one_cell_df[(temp_one_cell_df['chromID']==chromID)&(temp_one_cell_df['labelID']==labelID)]
            one_cell_dna_dfs[chromID][labelID].loc[one_chromID_temp_df.index, ['x', 'y', 'z']] = one_chromID_temp_df[['x', 'y', 'z']]
            one_chrom_list.append(one_cell_dna_dfs[chromID][labelID][['z','x','y']].values)
        one_cell_list.append(one_chrom_list)
    all_cell_dna_list.append(one_cell_list)

  0%|          | 0/1160 [00:00<?, ?it/s]

In [117]:
unique_cells

        cell_name cell_type  cell_index
0      0_3_1_rep1      rep1           0
1      0_3_2_rep1      rep1           1
2      0_3_3_rep1      rep1           2
3      0_3_4_rep1      rep1           3
4      0_3_5_rep1      rep1           4
...           ...       ...         ...
1155  7_3_75_48hr      48hr        1155
1156  7_3_76_48hr      48hr        1156
1157  7_3_77_48hr      48hr        1157
1158  7_3_78_48hr      48hr        1158
1159  7_3_79_48hr      48hr        1159

[1160 rows x 3 columns]

In [118]:
cluster_label=list(unique_cells['cell_type'].values)
cluster_label_name_dic={one_label:one_label for one_label in np.unique(cluster_label)}

In [121]:
chrom_ids=list(unique_cells['cell_name'].values)

In [124]:
data_dna_zxy=all_cell_dna_list

In [125]:
keys_list = ['chrom_ids',
             'region_names',
             'start_position',
             'end_position',
             'mid_position',
             'mid_position_Mb',
             'dna_zxys',
             'chrom_name',
             'gene_ID',
             'cluster_label',
             'cluster_label_name'
             ]
values_list = [chrom_ids,
               chrom_region_name,
               start_position,
               end_position,
               mid_position,
               mid_position_Mb,
               data_dna_zxy,
               chrom_name,
               gene_ID,
               cluster_label,
               cluster_label_name_dic
               ]
data = {}
for one_key, one_value in zip(keys_list, values_list):
    data[one_key] = one_value

In [126]:
data_pkl_path = 'data.pkl'
basic.store_variable_from_pikle_file(os.path.join(r"/mnt/disk1/scfan/data/Cai_21_Nature/DNA_25kb", data_pkl_path), data)

## RNA

In [143]:
data_path = os.path.join(RNA_seqFISH_dir, "mRNA-copy-number-E14-replicate{}.csv")

rep1_data = pd.read_csv(data_path.format( 1))
gene_name_list=list(rep1_data.columns[7:])
rep1_data["cell_type"] = 'rep1'
rep2_data = pd.read_csv(data_path.format(2))
gene_name_list+=list(rep2_data.columns[7:])
rep2_data["cell_type"] = 'rep2'

data_path = os.path.join(RNA_seqFISH_dir, "mRNA-copy-number-E14-clonal{}hr.csv")
clone_24_data = pd.read_csv(data_path.format( 24))
gene_name_list+=list(clone_24_data.columns[7:])
clone_24_data["cell_type"] = '24hr'
clone_48_data = pd.read_csv(data_path.format( 48))
gene_name_list+=list(clone_48_data.columns[7:])
clone_48_data["cell_type"] = '48hr'
gene_name_list=list(np.unique(gene_name_list))
RNA_origin_data = pd.concat([rep1_data, rep2_data,clone_24_data,clone_48_data], ignore_index=True, sort=False)

In [152]:
RNA_origin_data['cell_name']=RNA_origin_data['fov'].astype(str)+'_3_'+RNA_origin_data['cellID'].astype(str)+'_'+RNA_origin_data['cell_type'].astype(str)

In [159]:
RNA_origin_data.index=RNA_origin_data['cell_name']

In [160]:
RNA_origin_data

,keep1,fov,cellID,cent_ROI_x,cent_ROI_y,area(um2),area_cyto(um2),Eef2,Auts2,Bdnf,...,Dnmt3b,Lin28a,Lin28b,Zscan4c,Zfp352,cell_type,area_nucleus(um2),mEGFP,Neo,cell_name
cell_name,,,,,,,,,,,,,,,,,,,,,
0_3_1_rep1,0,0,1,1651.250723,179.915403,242.161034,508.648505,839.0,5.0,1.0,...,2.0,0.0,1.0,0.0,0.0,rep1,NaN,NaN,NaN,0_3_1_rep1
0_3_2_rep1,0,0,2,1509.805563,253.892618,158.668204,316.264899,506.0,4.0,0.0,...,11.0,25.0,1.0,0.0,0.0,rep1,NaN,NaN,NaN,0_3_2_rep1
0_3_3_rep1,0,0,3,247.386013,338.738127,203.735236,490.889039,397.0,0.0,0.0,...,16.0,52.0,0.0,0.0,0.0,rep1,NaN,NaN,NaN,0_3_3_rep1
0_3_4_rep1,0,0,4,1381.735005,420.678285,185.360448,358.425065,643.0,8.0,0.0,...,143.0,144.0,10.0,0.0,0.0,rep1,NaN,NaN,NaN,0_3_4_rep1
0_3_5_rep1,0,0,5,971.191610,570.373836,151.485911,404.362035,760.0,9.0,1.0,...,192.0,245.0,21.0,1.0,0.0,rep1,NaN,NaN,NaN,0_3_5_rep1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7_3_75_48hr,1,7,75,1020.960525,829.147170,132.495801,280.130645,402.0,NaN,NaN,...,107.0,116.0,6.0,1.0,1.0,48hr,NaN,2.0,33.0,7_3_75_48hr
7_3_76_48hr,1,7,76,991.647560,940.591796,115.860889,217.367801,309.0,NaN,NaN,...,118.0,119.0,2.0,0.0,1.0,48hr,NaN,0.0,2.0,7_3_76_48hr
7_3_77_48hr,1,7,77,1288.768245,785.629496,132.432147,295.927446,520.0,NaN,NaN,...,77.0,72.0,10.0,0.0,0.0,48hr,NaN,27.0,574.0,7_3_77_48hr
7_3_78_48hr,1,7,78,1202.329251,708.139006,146.382982,375.791998,477.0,NaN,NaN,...,90.0,192.0,8.0,0.0,0.0,48hr,NaN,0.0,4.0,7_3_78_48hr
7_3_79_48hr,1,7,79,917.409060,490.991864,172.131025,234.246720,395.0,NaN,NaN,...,179.0,186.0,19.0,0.0,0.0,48hr,NaN,16.0,407.0,7_3_79_48hr

In [161]:
RNA_name_array=RNA_origin_data['cell_name'].values

In [155]:
np.intersect1d(RNA_name_array,cell_name_array).shape[0]

1143

In [162]:
RNA_df=RNA_origin_data[gene_name_list]

RNA_df=RNA_df.fillna(0)

In [167]:
RNA_df

,Aebp2,Aurka,Auts2,Bdnf,Ccnd2,Cdk1,Cenpa,Clu,Ctgf,Cx3cr1,...,Sox2,Stmn2,Tbx3,Tdh,Tet1,Tfcp2l1,Zfp352,Zfp42,Zscan4c,mEGFP
cell_name,,,,,,,,,,,,,,,,,,,,,
0_3_1_rep1,0.0,0.0,5.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,...,2.0,0.0,0.0,0.0,7.0,0.0,0.0,21.0,0.0,0.0
0_3_2_rep1,5.0,2.0,4.0,0.0,0.0,23.0,2.0,0.0,20.0,0.0,...,6.0,0.0,0.0,3.0,27.0,3.0,0.0,95.0,0.0,0.0
0_3_3_rep1,17.0,3.0,0.0,0.0,0.0,28.0,3.0,4.0,32.0,0.0,...,5.0,0.0,0.0,4.0,32.0,0.0,0.0,41.0,0.0,0.0
0_3_4_rep1,31.0,41.0,8.0,0.0,4.0,95.0,18.0,1.0,57.0,0.0,...,82.0,6.0,0.0,41.0,80.0,43.0,0.0,214.0,0.0,0.0
0_3_5_rep1,46.0,43.0,9.0,1.0,1.0,72.0,17.0,14.0,77.0,1.0,...,191.0,15.0,11.0,71.0,128.0,64.0,0.0,502.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7_3_75_48hr,58.0,18.0,0.0,0.0,4.0,30.0,63.0,0.0,37.0,0.0,...,133.0,23.0,3.0,97.0,86.0,31.0,1.0,200.0,1.0,2.0
7_3_76_48hr,34.0,67.0,0.0,0.0,0.0,61.0,73.0,0.0,36.0,0.0,...,182.0,34.0,0.0,123.0,75.0,30.0,1.0,219.0,0.0,0.0
7_3_77_48hr,121.0,25.0,0.0,0.0,0.0,56.0,67.0,0.0,11.0,0.0,...,143.0,27.0,58.0,309.0,104.0,28.0,0.0,396.0,0.0,27.0
7_3_78_48hr,39.0,39.0,0.0,0.0,3.0,48.0,93.0,0.0,91.0,0.0,...,203.0,37.0,2.0,124.0,117.0,22.0,0.0,256.0,0.0,0.0
7_3_79_48hr,24.0,70.0,0.0,0.0,0.0,110.0,74.0,0.0,90.0,0.0,...,124.0,31.0,1.0,213.0,89.0,1.0,0.0,49.0,0.0,16.0

In [187]:
RNA_adata=sc.AnnData(RNA_df)
RNA_adata.obs['cell_type']=RNA_origin_data['cell_type']
RNA_adata.obs['cell_name']=RNA_origin_data['cell_name']

In [188]:
RNA_adata

AnnData object with n_obs × n_vars = 1143 × 47
    obs: 'cell_type', 'cell_name'

In [189]:
temp_path=os.path.join(r"/mnt/disk1/scfan/data/Cai_21_Nature/RNA",'RNA_adata.h5ad')
RNA_adata.write(temp_path)

## generate intercell name DNA 25kb

In [183]:
data_pkl_path = 'data.pkl'
all_cell_data=basic.load_variable_from_pikle_file(os.path.join(r"/mnt/disk1/scfan/data/Cai_21_Nature/DNA_25kb", data_pkl_path))

In [174]:
all_cell_data.keys()

dict_keys(['chrom_ids', 'region_names', 'start_position', 'end_position', 'mid_position', 'mid_position_Mb', 'dna_zxys', 'chrom_name', 'gene_ID', 'cluster_label', 'cluster_label_name'])

In [184]:
all_cell_name_list=all_cell_data['chrom_ids']
dna_zxys=all_cell_data['dna_zxys']
cluster_label=all_cell_data['cluster_label']
new_cell_name_list=[]
new_dna_zxys=[]
new_cluster_label=[]
for i,one_cell_name in enumerate(all_cell_name_list):
    if one_cell_name in RNA_name_array:
        new_cell_name_list.append(one_cell_name)
        new_dna_zxys.append(dna_zxys[i])
        new_cluster_label.append(cluster_label[i])

In [185]:
new_cell_data=copy.deepcopy(all_cell_data)
new_cell_data['chrom_ids']=new_cell_name_list
new_cell_data['dna_zxys']=new_dna_zxys
new_cell_data['cluster_label']=new_cluster_label

In [186]:
data_pkl_path = 'align_name_with_RNA_data.pkl'
basic.store_variable_from_pikle_file(os.path.join(r"/mnt/disk1/scfan/data/Cai_21_Nature/DNA_25kb", data_pkl_path),new_cell_data)